@media(max-width: 1600px){
    .next-btn-stand {
        right: -8%;
    }
    .prev-btn-stand {
        left: -4%;
    }
    .hero-banner:after {
        bottom: -64px;
    }
    .pr-title input {
        height: 37px;
    }
    .postal-area input {
        width: 44%;
    }
    .para {
        font-size: 1.1rem;
    }
    .inner-financial-hd{
        font-size: 1.2rem;
    }
    .inner-financial-content {
    padding: 72px 8px;
}
.inner-financial-content .para{
    font-size: 1rem;
}
.more-link {
    font-size: 0.8rem;
  
}
}


@media(max-width: 1440px){
    .logo-area img, .footer-logo {
    width: 50%;
}
.pro-area img {
    width: 94%;
}
    .logo-bg {
        left: -22px;
    }
    .next-btn-stand {
        right: -7%;
    }
    .prev-btn-stand {
        left: -3%;
    }
}

@media(max-width: 1400px){
    .next-btn-stand {
        right: -3%;
    }
    .prev-btn-stand {
        left: 0%;
    }
    .header, .topbar {
        padding: 5px 37px;
    }
    .logo-bg {
        left: -71px;
    }
}
@media(max-width: 1366px){
    :root{
        font-size: 14px;
    }
}


@media(max-width: 1280px){
    .logo-bg {
        left: -98px;
    }
}
@media(max-width: 1200px){
    :root{
        font-size: 12px;
    }
    .logo-bg {
        left: -125px;
    }
}
@media(max-width: 1024px){
    .navbar-menu{
        position: fixed;
        height: 100vh;
       background-image: url(../images/newsbg.jpg);
       background-repeat: no-repeat;
       background-size: cover;
        top: 0;
        z-index: 999999;
        width: 100%;
        transition: all 0.5s ease;
        left: -100%;
    }
    .header-cart-area {
        gap: 10px;
        position: relative;
    }
    .list {
        display: block;
        padding: 50px;
    }
    .cart-area span.cart-text{
        display: none;
    }
    .menu-close{
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        padding: 10px 16px;
        border: transparent;
    }
    .cart-area, .menu-open {
        padding: 10px 16px;
        border: transparent;
    }
    .navbar-menu.active{
        left: 0;
    }
    .menu-open{

        display: block;
    }
    .list-item{
        margin-bottom: 15px;
    }
    .postal-area span {
   
        display: block;
    }
    .postal-area {
        display: block;
       
    }
    .postal-area input {
        width: 100%;
    }
    .slider-item-banner {
        padding: 137px 0;
    }
}

@media(max-width: 992px){
    :root{
        font-size: 10px;
    }
    .stand-item img {
        width: 100%;
    }
    .next-btn-stand, .prev-btn-stand{
        position: unset;
        transform: unset;
    }
    .news-area {
        padding: 31px;
    }
        .pro-area img {
    width: 70%;
}
.detail-pr-area{
    margin-top: 20px;
}
.detail-img {
    height: 400px;
    justify-content: center;
 
}
.inner-financial-hd.detail-pr-hd{
    font-size: 1.8rem;
}
}
@media(max-width: 800px){

    .logo-bg {
    left: -85px;
}
    .dollar-img-area {
        justify-content: center;
    }
    .dollar-content{
        text-align: center;
    }
    .shipping-hd {
        font-size: 1.2rem;
        line-height: 1.3;
    }
    
}

@media(max-width: 768px){
    .return-area a, .return-area p {
        font-size: 13px;
    }
    .return-area{
        position: relative;
        z-index: 99;
    }
    h1.cart-hd {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .shiiping-area::after{
        display: none !important;
    }
    .footer-first-list {
        padding-left: 0px;
        margin-top: 20px;
    }
}
@media(max-width: 767px){
 
}
@media(max-width: 600px){
    .call-area{
        display: none;
    }
    .header, .topbar {
        padding: 5px 8px;
    }
    .cart-area, .menu-open {
        padding: 6px 10px;
    }
    .header {
        overflow: hidden;
        height: 72px;
    }
    .cart-count {
        left: 4px;
    }
    .shipping-hd {
        font-size: 1.8rem;
        line-height: 1.3;
    }
    .footer-first-list {
        padding-left: 0;
        margin-top: 20px;
    }
    ul.footer-list.p-0 {
        padding-left: 0px !important;
    }
    .pro-area {
        text-align: center;
    }
    :root{
        font-size: 8px;
    }
    .copy-right-para.right, .copy-right-para {
        text-align: center;
    }
}
@media(max-width: 480px){
.logo-bg {
    left: -212px;
}
    .search-input-area{
        display: block;
    }
    .search-input-area .form-input{
        margin-bottom: 10px;
    }
    :root{
        font-size: 12px;
    }
    .liv-gold-area {
        gap: 10px;
        flex-wrap: wrap;
    }
    /* .liv-gold-area span.divid{
        display: none;
    } */
    .bit-coin-img-area {
        bottom: -64%;
    }
    .bit-coin-img-area img {
        filter: grayscale(1);
        opacity: 30%;
        width: 65%;
    }
    .primary-hd {
        font-size: 4rem;
    }
    .secondary-hd {
        font-size: 2rem;
    }
    .section-hd-secondary {
        font-size: 2rem;
    }
    .shipping-hd {
        font-size: 1.2rem;
    }
    .financial-item:hover .inner-financial-content {
        height: 100%;
    }
    .dollar-img-area {
        width: 59%;
        margin: 0 auto;
    }
    .news-hd {
        margin: 0 auto;
    }
    .latest-hd, .para.news-para {
        text-align: center;
    }
    .financial-item, .stand-item{
        margin-right: 0;
    }
    .financial-item, .inner-financial-content {
        display: flex !important;
        height: 400px;
        align-items: center;
        justify-content: center;
    }
    .shiiping-area{
        text-align: center;
    }
    .about-content{
        text-align: center;
        padding-top: 30px;
    }
    .inner-financial-content .para{
            width: 61%;
    margin: 0 auto;
    }
    .financial-item.slick-slide.slick-current.slick-active {
         background-color: var(--black);
         padding: 20px !important;
    }
      .financial-item.slick-slide.slick-current.slick-active   .inner-financial-content{
          background-image: url(../images/financial-content.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 999;
    }
      .financial-item.slick-slide.slick-current.slick-active .bit-coin-img-area{
    background-color: #000000fc;
    opacity: 0.4;
    top: 0;
 }
 .financial-item.slick-slide.slick-current.slick-active .inner-financial-hd {
    color: var(--btnprimary);
}
.financial-item.slick-slide.slick-current.slick-active .para, .financial-item.slick-slide.slick-current.slick-active a {
    color: #ffff;
}
.financial-item.slick-slide.slick-current.slick-active .inner-financial-content {
    height: 100%;
}
.news-later-form {
     background-color: transparent; 
    display: block;
     padding: 0 0 0;
}
.input-form {
  padding: 10px 20px;
  margin-bottom: 20px;
     

}
.primary-btn {
    padding: 12px 45px;
}
.detail-img {
    height: 312px;
}
   .logo-bg {
    left: -109px;
}
.logo-area img, .footer-logo {
    width: 65%;
}
}
@media(max-width: 400px){
        .liv-gold-area span.divid{
        display: none;
    } 
    .about-sec-content {
        background-size: cover;
    }
    .dollar-hd {
        font-size: 2.5rem;
    }
    .latest-hd {
        font-size: 2rem;
    }
    .news-area {
        padding: 10px;
    }
    .news-hd, .latest-hd, .para.news-para {
        margin: 0 auto 13px auto;
    }
    .contact-form-inner {
        padding: 12px;
    }
    .inner-banner-hd {
        font-size: 4.3rem;
    }
}

@media(max-width: 360px){

       .liv-gold-area span.divid{
        display: none;
    } 
}